version: 2.1

orbs:
    maven: circleci/maven@1.0.2

jobs:
    build:
        docker:
            - image: "circleci/openjdk:11-jdk"
        steps:
            - checkout
            - run:
                  name: Analyze on SonarCloud
                  command: mvn verify sonar:sonar
workflows:
    main:
        jobs:
            - build:
                  context: SonarCloud
            - maven/test # checkout, build, test, and upload test results
